/*
 * General
 */

html {
  height: 100%;
}

body {
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f2f2f2;
}

/*
 * Loading screen
 */

section#loading div.padding {
  height: 50%;
}

section#loading div.message {
  width: 100%;
  text-align: center;
  font-size: 18pt;
}

/*
 * Album list screen
 */

section#album-list .cover-item {
  width: 40%;
}

section#album-list .cover-item img.cover {
  width: 100%;
}

/*
 * Album info screen
 */

section#album-info .album-image {
}

section#album-info .album-image img {
  width: 80%;
  margin: 0 10% 5% 10%;
}

section#album-info .album-image .play-album-control {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-left: 30px solid #aaa;
  border-bottom: 20px solid transparent;
}

section#album-info .track-list {
  height: 90%;
  overflow-y: auto;
}

section#album-info .track-list .title {
  padding-left: 20px;
}

section#album-info .track-list a.playing, 
section#album-info .track-list a.paused {
  background-color: #ddd;
}

section#album-info .track-list a.playing .indicator {
  float: left;
  width: 0px;
  height: 0px;
  margin-top: 6px;
  border-top: 5px solid transparent;
  border-left: 7px solid #000;
  border-bottom: 5px solid transparent;
}

section#album-info .track-list a.paused .indicator {
  float: left;
  width: 8px;
  height: 9px;
  margin-top: 6px;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

section#album-info .controls {
  margin: 0 10% 0 10%;
}

section#album-info .controls a {
  display: block;
  text-align: center;
  padding: 20px 0 20px 0;
}

section#album-info .controls a .icon,
section#album-info .controls a .icon2 {
  display: inline-block;
}

section#album-info .controls .play .icon {
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-left: 18px solid #ddd;
  border-bottom: 12px solid transparent;
}

section#album-info .controls .play.enabled .icon {
  border-color: transparent #000 transparent;
}

section#album-info .controls .pause .icon {
  width: 18px;
  height: 24px;
  border-left: 6px solid #ddd;
  border-right: 6px solid #ddd;
}

section#album-info .controls .pause.enabled .icon {
  border-color: transparent #000 transparent #000;
}

section#album-info .controls .previous .icon {
  width: 0px;
  height: 24px;
  border-left: 4px solid #ddd;
}

section#album-info .controls .previous .icon2 {
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-right: 18px solid #ddd;
  border-bottom: 12px solid transparent;
}

section#album-info .controls .previous.enabled .icon,
section#album-info .controls .previous.enabled .icon2 {
  border-color: transparent #000 transparent #000;
}

section#album-info .controls .next .icon {
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-left: 18px solid #ddd;
  border-bottom: 12px solid transparent;
}

section#album-info .controls .next .icon2 {
  width: 0px;
  height: 24px;
  border-right: 4px solid #ddd;
}

section#album-info .controls .next.enabled .icon,
section#album-info .controls .next.enabled .icon2 {
  border-color: transparent #000 transparent #000;
}

