/*
 * General
 */

html {
  height: 100%;
}

body {
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  padding: 20px 20px 0 20px;
  background-color: #f2f2f2;
}

.full-height {
  height: 100%;
}

/*
 * Loading screen
 */

section#loading div.padding {
  height: 50%;
}

section#loading div.message {
  width: 100%;
  text-align: center;
  font-size: 18pt;
}

/*
 * Album list screen
 */

section#album-list img.cover {
  width: 40%;
}

/*
 * Album info screen
 */

section#album-info {
  height: 100%;
  overflow-y: hidden;
}

section#album-info .row .track-list-col {
  height: 100%;
  padding-bottom: 20px;
}

section#album-info .album-image {
  position: relative;
  height: calc(100% - 64px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section#album-info .album-image .play-album-control {
  position: absolute;
  top: calc(50% - 55px);
  left: calc(50% - 55px);
  opacity: 0.5;
}

section#album-info .album-image .play-album-control .circle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  border: 5px solid #ddd;
  background-color: #888;
}

@keyframes circle-shrink {
  100% {
    width: 0px;
    height: 0px;
    left: 55px;
    top: 55px;
    border-width: 0px;
    border-radius: 0px;
  }
}

section#album-info .album-image .play-album-control .circle.disappear {
  animation-name: circle-shrink;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

section#album-info .album-image .play-album-control .icon {
  position: absolute;
  top: 15px;
  left: 35px;
  width: 0px;
  height: 0px;
  border-top: 40px solid transparent;
  border-left: 60px solid #ddd;
  border-bottom: 40px solid transparent;
}

section#album-info .track-list {
  height: 100%;
  overflow-y: auto;
}

section#album-info .track-list .title {
  padding-left: 20px;
}

section#album-info .track-list a.playing, 
section#album-info .track-list a.paused {
  background-color: #ddd;
}

section#album-info .track-list a.playing .indicator {
  float: left;
  width: 0px;
  height: 0px;
  margin-top: 6px;
  border-top: 5px solid transparent;
  border-left: 7px solid #000;
  border-bottom: 5px solid transparent;
}

section#album-info .track-list a.paused .indicator {
  float: left;
  width: 8px;
  height: 9px;
  margin-top: 6px;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

section#album-info .controls {
  height: 64px;
  margin: 0 10% 0 10%;
}

section#album-info .controls a {
  display: block;
  text-align: center;
  padding: 20px 0 20px 0;
  line-height: 10px;
}

section#album-info .controls a .icon,
section#album-info .controls a .icon2 {
  display: inline-block;
}

section#album-info .controls .play .icon {
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-left: 18px solid #ddd;
  border-bottom: 12px solid transparent;
}

section#album-info .controls .play.enabled .icon {
  border-color: transparent #000 transparent;
}

section#album-info .controls .pause .icon {
  width: 18px;
  height: 24px;
  border-left: 6px solid #ddd;
  border-right: 6px solid #ddd;
}

section#album-info .controls .pause.enabled .icon {
  border-color: transparent #000 transparent #000;
}

section#album-info .controls .previous .icon {
  width: 0px;
  height: 24px;
  border-left: 4px solid #ddd;
}

section#album-info .controls .previous .icon2 {
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-right: 18px solid #ddd;
  border-bottom: 12px solid transparent;
}

section#album-info .controls .previous.enabled .icon,
section#album-info .controls .previous.enabled .icon2 {
  border-color: transparent #000 transparent #000;
}

section#album-info .controls .next .icon {
  width: 0px;
  height: 0px;
  border-top: 12px solid transparent;
  border-left: 18px solid #ddd;
  border-bottom: 12px solid transparent;
}

section#album-info .controls .next .icon2 {
  width: 0px;
  height: 24px;
  border-right: 4px solid #ddd;
}

section#album-info .controls .next.enabled .icon,
section#album-info .controls .next.enabled .icon2 {
  border-color: transparent #000 transparent #000;
}

